{{!-- <h1>HOME PAGE</h1> --}}

<body>
    <header>
    <div class="cabe">
    <a href="login">Login</a>
    <a href="cadastrar">Cadastrar</a>
    </div>
    </header>
<main>
    

<section class="container">
    <div class="fotoscats">

        {{!-- <div class="logo">
        <img src="/assets/img/cat.png" alt="">
        </div> --}}

        <img src="/assets/img/cat01.jpg" alt="" width="500px" height="600px">
        <img src="/assets/img/cat02.jpg" alt="" width="500px" height="600px">
        <img src="/assets/img/cat05.jpg" alt="" width="500px" height="600px">
        <img src="/assets/img/cat11.jpg" alt="" width="500px" height="600px">
        <img src="/assets/img/cat08.jpg" alt="" width="500px" height="600px">     
        <img src="/assets/img/cat06.jpg" alt="" width="500px" height="600px">     
        <img src="/assets/img/cat04.jpg" alt="" width="500px" height="600px">     
        <img src="/assets/img/cat07.jpg" alt="" width="500px" height="600px">     
        <img src="/assets/img/cat12.jpg" alt="" width="500px" height="600px">     
        <img src="/assets/img/cat09.jpg" alt="" width="500px" height="600px">     
        <img src="/assets/img/cat04.jpg" alt="" width="500px" height="600px">     
        <img src="/assets/img/cat13.jpg" alt="" width="500px" height="600px">     
    </div>


</section>  
</main>
<footer>
    <div class="footer">
        <p>Todos os direitos recervados©</p>
    </div>
</footer>
</body>